@import 'reset.css';

body.no_scroll{overflow-y: hidden;}

.body_wrapper{ width: 100%; min-height: 100dvh; font-family: 'Pretendard',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

header{position: fixed; top: 4.167vw; left: 4.167vw; z-index: 9; display: flex; width: calc(100% - 8.333vw);}
/* logo, 패밀리사이트 버튼과 레어 */
.heading{display: flex; gap: 2.083vw;}
.logo img{height: 1.25vw;}
.ham_btn{width: 0.833vw; height: 0.833vw;}
.ham_btn .hover{top: 0.208vw; left: 0.208vw; width: 0.417vw; height: 0.417vw;}
/* menu layer */
.layerMenu{position: fixed; top: 0; left: 0; z-index: 10; display: none; width: 100%; height: 100dvh; padding: 3.125vw 4.167vw; background-color: #fff;}
.layerMenu.on{display: block;}
.btnMenu_close{width: 1.25vw; height: 1.25vw;}
.layerMenu_area{display: flex; gap: 5.208vw; margin-top: 5.208vw;}
.menu_list{display: flex; flex-direction: column; gap: 1.042vw;}
.menu_list ul{display: flex; flex-direction: column; gap: 0.625vw; margin-top: 1.042vw;}

/* gnb */
.titleNavBox{display: flex; gap: 2.083vw; margin-left: 8.333vw;}
.titleNavBox .nav{position: relative; color: var(--gray); transition: all ease-out .2s;}
.titleNavBox .nav:hover{color: #000; }
.titleNavBox .nav::before{content: ''; position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #000; }
/* rnb */
.titleNavBox .nav:hover::before{width: 100%;}
.navWrap{position: absolute; top: 0; right: 0; display: flex; flex-direction: column; gap: 0.417vw; text-align: right;}
.navWrap .menu{font-size: 1.458vw;}
/* utilwrap */
.utilWrap{position: fixed; bottom: 10.625vw; left: -2.292vw; z-index: 9; display: flex; gap: 2.083vw; transform: rotate(-90deg);}
.utilWrap .lang{display: flex; flex-direction: column; gap: 0.208vw;}
.lang a{color: var(--gray);}
.lang a.on{color: #000;}

/* main content */
section{position: sticky; top: 0; left: 0; width: 100%; height: 100dvh; min-height: 50.417vw; margin-bottom: 100dvh; z-index: 5; overflow: hidden;}
section:first-child, section:last-child{margin-bottom: 0;}
.section.cont{background-color: #fff;}
.layer{display: flex; flex-direction: column; width: 100%; height: 100dvh; align-items: center; justify-content: center; z-index: 8; gap: 35%; position: absolute; transition:  all .4s ease-in-out; color: #000; background-color: transparent;}
.fake_div{width: 100%; height: 200dvh;}
.sec1{clip-path: inset(35% 24% 35% 24%); transition: clip-path 0.5s ease; }
.sec1 video{width: 100%; height: 100%; object-fit: cover;}
.section.cont{display: flex;}
.section.cont .text_box .medium{padding-top: 20px;}
.section.cont .text_box .h1, .section.cont .text_box .h2, .section.cont .text_box .h3, .section.cont .text_box .medium{position: relative; z-index: -1; overflow: hidden; transform: translateY(100%); /*opacity: 0;*/ visibility: hidden; transition: transform 0.2s ease-in-out, visibility 0.4s ease-in-out; background-color: #fff;}
.section.cont.active .h1, .section.cont.active .h2, .section.cont.active .text_box .h3, .section.cont.active .text_box .medium{/*font-size: 4.375vw;*/ transform: translateY(0); /*opacity: 1;*/ visibility: visible;}
.section.cont.even .text_box{right: 0; width: 52%; padding: 10.417vw 6.25vw 0 10.417vw;}
.section.cont.odd .text_box{left: 0; width: 48%; padding: 10.417vw 10.417vw 0 6.25vw;}
.section.cont.even .img_box{right: 0; width: 48%;}
.section.cont.odd .img_box{left: 0; width: 52%;}
.section.cont .img_box img{width: 100%; height: 100%; object-fit: cover;}

.section.other{flex-direction: column; gap: 5.208vw; justify-content: space-between;}
.section.other .text_box{padding: 10.417vw 6.25vw 0; gap: 0.625vw;}
.card_box{ padding: 0 7.292vw 5.208vw;}
.card_box ul{display: flex; justify-content: flex-end; gap: 1.042vw;}
.card_box li{display: flex; flex-direction: column; gap: 1.042vw; border-top: 1px solid #000; width: 20%;}
.card_box li > p{margin-top: 0.625vw;}
.card_box li img{margin-top: 0.417vw; width: 100%; height: 11.458vw; object-fit: cover; display: block; opacity: 0; /* 처음에 보이지 않음 */ transform: rotateX(180deg); /* 초기 상태: 90도 회전 */ transition: transform 1s ease-out, opacity .2s ease-out; /* 애니메이션 */ transform-style: preserve-3d; /* 3D 효과 유지 */ backface-visibility: hidden;}
.section.active .card_box li img{opacity: 1; /* 보이도록 설정 */ transform: rotateX(0deg);}

.card_box li:first-child img{object-position: center 44%;}
.card_box li:nth-child(2) img{object-position: center 40%;}

.section.center{flex-direction: column; justify-content: space-between; align-items: center;}
.section.center .text_box{padding: 10.417vw 4.167vw 0; text-align: center;}
.section.center .img_list_box{width: 100%; height: 300px; overflow-x: auto; overflow-y: hidden; scroll-behavior: smooth;}
.img_list_box::-webkit-scrollbar {height: 2px;}
.img_list_box::-webkit-scrollbar-track {background-color: #E47E3C;}
.img_list_box::-webkit-scrollbar-thumb {background-color: #000; border-radius: 0;}
.img_list_box ul{display: flex; align-items: center; gap: 0.26vw; width: max-content; height: 100%;}
.img_list_box li{height: 100%;}
.img_list_box ul img{height: 100%;}
.section.center .showroominfo_box{display: flex; align-items: center; gap: 2.083vw;}
.showroominfo_box > div{display: flex; flex-direction: column; gap: 0.625vw;}
.showroombooking_btn{display: flex; align-items: center; justify-content: center; gap: 0.417vw; padding: 0.625vw 1.042vw; width: 12.5vw; border: 1px solid #000;}

/* footer */
footer{display: flex; flex-direction: column; gap: 6.25vw; padding: 4.167vw;}
.footerMenu{display: flex; gap: 5.208vw;}
strong.dep1{margin-bottom: 0.625vw;}
.footerBtm{display: flex; justify-content: space-between; align-items: flex-start;}
.footerCopy{display: flex; gap: 1.042vw; align-items: flex-end;}
.footerCopy .logo{text-align: center;}
.footerCopy .logo img{width: auto; height: 1.771vw; margin-bottom: 0.208vw;}
.footerEtc{display: flex; flex-wrap: wrap; width: 40%; gap: 0.417vw 0.625vw;}

@media all and (max-width: 1440px){
    header{top: 4.167vw; left: 4.167vw; width: calc(100% - 8.333vw);}
    /* logo, 패밀리사이트 버튼과 레어 */
    .heading{gap: 2.778vw;}
    .logo img{height: 1.667vw;}
    .ham_btn{width: 1.111vw; height: 1.111vw;}
    .ham_btn .hover{top: 0.278vw; left: 0.278vw; width: 0.556vw; height: 0.556vw;}
    /* menu layer */
    .layerMenu{min-height: 600px; padding: 4.167vw 4.167vw;}
    .btnMenu_close{width: 1.667vw; height: 1.667vw;}
    .layerMenu_area{gap: 6.944vw; margin-top: 6.944vw;}
    .menu_list{gap: 1.389vw;}
    .menu_list ul{gap: 0.833vw; margin-top: 1.389vw;}

    /* gnb */
    .titleNavBox{gap: 2.778vw; margin-left: 11.111vw;}
    /* rnb */
    .navWrap{gap: 0.556vw;}
    .navWrap .menu{font-size: 1.944vw;}
    /* utilwrap */
    .utilWrap{bottom: 14.167vw; left: -4.167vw; gap: 2.778vw;}
    .utilWrap .lang{gap: 0.278vw;}

    /* main content */
    section{min-height: 600px;}
    .sec1{clip-path: inset(35% 21% 35% 24%);}
    .layer{gap: 32%;}

    .section.cont.even .text_box{width: 52%; padding: 12.5vw 4.167vw 0 9.722vw;}
    .section.cont.odd .text_box{width: 48%; padding: 12.5vw 9.722vw 0 4.167vw;}
    .section.cont.even .img_box{width: 48%;}
    .section.cont.odd .img_box{width: 52%;}

    .section.other{gap: 6.944vw;}
    .section.other .text_box{padding: 12.5vw 8.333vw 0; gap: 0.833vw;}
    .card_box{padding: 0 8.333vw 6.944vw;}
    .card_box ul{gap: 1.389vw;}
    .card_box li{gap: 1.389vw; width: 20%;}
    .card_box li > p{margin-top: 0.833vw;}
    .card_box li img{margin-top: 0.556vw; height: 15.278vw;}

    .section.center .text_box{padding: 12.5vw 4.167vw 0;}
    .section.center .img_list_box{height: 19.444vw;}
    .section.center .showroominfo_box{gap: 2.778vw;}
    .showroominfo_box > div{gap: 12px;}
    .showroombooking_btn{gap: 8px; padding: 12px 20px; width: 240px;}

    /* footer */
    footer{gap: 8.333vw; padding: 4.167vw;}
    .footerMenu{gap: 6.944vw;}
    strong.dep1{margin-bottom: 0.833vw;}
    .footerCopy{gap: 1.389vw;}
    .footerCopy .logo img{height: 2.361vw; margin-bottom: 0.278vw;}
    .footerEtc{width: 40%; gap: 0.556vw 0.833vw;}
    @media all and (max-height: 800px){
        /* .mo_hidden{display: block;} */
        .section.cont.even .text_box{padding: 140px 80px 0 132px;}
        .section.cont.odd .text_box{padding: 140px 132px 0 80px;}

        .section.cont.other{gap: 40px;}
        .section.cont.other .text_box{padding: 120px 120px 0 !important;}
        .card_box{padding: 0 120px 80px;}
        .card_box ul{height: max-content;}
        .card_box li{gap: 12px;}
        .card_box li > p{margin-top: 8px;}
        .card_box li img{margin-top: 0; height: 140px;}

        .section.cont.center .text_box{gap: 8px; padding: 120px 100px 0 !important;}
        .section.cont.center .showroominfo_box{flex-direction: row; align-items: center;}
        .showroominfo_box > div.btn{flex-direction: column; gap: 8px;}
        .section.cont.center .img_list_box{height: 220px;}
   }
}
@media all and (max-width: 1280px){
    header{top: 4.688vw; left: 4.688vw; width: calc(100% - 9.375vw);}
    /* logo, 패밀리사이트 버튼과 레어 */
    .heading{gap: 3.125vw;}
    .logo img{height: 1.875vw;}
    .ham_btn{width: 1.25vw; height: 1.25vw;}
    .ham_btn .hover{top: 0.313vw; left: 0.313vw; width: 0.625vw; height: 0.625vw;}
    /* menu layer */
    .layerMenu{min-height: 62.5vw; padding: 4.688vw 6.25vw;}
    .btnMenu_close{width: 1.875vw; height: 1.875vw;}
    .layerMenu_area{gap: 7.813vw; margin-top: 7.813vw;}
    .menu_list{gap: 1.563vw;}
    .menu_list ul{gap: 0.938vw; margin-top: 1.563vw;}

    /* gnb */
    .titleNavBox{gap: 3.125vw; margin-left: 9.375vw;}
    /* rnb */
    .navWrap{gap: 0.625vw;}
    .navWrap .menu{font-size: 2.188vw;}
    /* utilwrap */
    .utilWrap{bottom: 15.938vw; left: -5vw; gap: 3.125vw;}
    .utilWrap .lang{gap: 0.313vw;}

    /* main content */
    section{min-height: 62.5vw;}

    .section.cont.even .text_box{width: 60%; padding: 14.063vw 4.375vw 0 12.5vw;}
    .section.cont.odd .text_box{width: 60%; padding: 14.063vw 12.5vw 0 4.375vw;}
    .section.cont.even .img_box{width: 40%;}
    .section.cont.odd .img_box{width: 40%;}

    .section.other{gap: 4.688vw;}
    .section.other .text_box{padding: 10.938vw 10.938vw 0; gap: 0.938vw;}
    .card_box{padding: 0 100px 4.688vw;}
    .card_box ul{gap: 1.563vw;}
    .card_box li{gap: 1.563vw; width: 26%;}
    .card_box li > p{margin-top: 0.938vw;}
    .card_box li img{margin-top: 0.625vw; height: 14.063vw;}

    .section.center .text_box{padding: 10.938vw 4.688vw 0;}
    .section.center .img_list_box{height: 18.75vw}
    .section.center .showroominfo_box{gap: 3.125vw;}
    .showroominfo_box > div{gap: 0.938vw;}
    .showroombooking_btn{gap: 0.625vw; padding: 0.938vw 1.563vw; width: 18.75vw;}

    /* footer */
    footer{gap: 9.375vw; padding: 6.25vw;}
    .footerMenu{gap: 7.813vw;}
    strong.dep1{margin-bottom: 0.938vw;}
    .footerCopy{gap: 1.563vw;}
    .footerCopy .logo img{height: 2.656vw; margin-bottom: 0.313vw;}
    .footerEtc{width: 40%; gap: 0.625vw 0.938vw;}
}
@media all and (max-width: 1024px){
    .mo_hidden{display: none;}
    body{line-height: 1.34;}

    header{top: 5.859vw; left: 5.859vw; width: calc(100% - 11.719vw);}
    /* logo, 패밀리사이트 버튼과 레어 */
    .heading{gap: 3.906vw;}
    .logo img{height: 2.344vw;}
    .ham_btn{width: 1.563vw; height: 1.563vw;}
    .ham_btn .hover{top: 0.391vw; left: 0.391vw; width: 0.781vw; height: 0.781vw;}
    /* menu layer */
    .layerMenu{min-height: 600px; padding: 60px 80px;}
    .btnMenu_close{width: 24px; height: 24px;}
    .layerMenu_area{gap: 100px; margin-top: 100px;}
    .menu_list{gap: 20px;}
    .menu_list ul{gap: 12px; margin-top: 20px;}

    /* gnb */
    .titleNavBox{gap: 40px; margin-left: 120px;}
    /* rnb */
    .navWrap{gap: 8px;}
    .navWrap .menu{font-size: 28px;}
    /* utilwrap */
    .utilWrap{bottom: 204px; left: -60px; gap: 40px;}
    .utilWrap .lang{gap: 4px;}

    /* main content */
    section{min-height: 600px;}

    .sec1 video{object-position: 52% center;}
    .layer{gap: 28%;}

    .section.cont{flex-direction: column; justify-content: space-between;}
    .section.cont .text_box{order: 1; width: 100% !important; padding: 180px 120px 0 !important;}
    .section.cont .text_box p{word-break: keep-all;}
    .section.cont .img_box{order: 2; width: 100% !important; height: 60% !important;}

    .section.cont.other{flex-direction: row; align-items: flex-start; gap: 0;}
    .section.cont.other .text_box{order: 1; padding: 240px 80px 0 120px !important; width: 61.5vw !important;}
    .card_box{order: 2; padding: 240px 0 0; width: 38.5vw !important; height: 100dvh;}
    .card_box ul{flex-direction: column; justify-content: space-between; gap: 60px; height: 100%; }
    .card_box li{gap: 36px; width: 100%;}
    .card_box li > p{margin-top: 12px;}
    .card_box li img{height: 228px;}

    .section.cont.center{display: grid; grid-template-columns: repeat(2, 1fr); align-items: flex-start;}
    .section.cont.center .text_box{order: 1; grid-column: 1 / 2; width: 60vw !important; padding: 240px 80px 60px 120px !important; text-align: left;}
    .section.cont.center .text_box p{ gap: 20px;}
    .section.cont.center .showroominfo_box{order: 2; flex-direction: column; gap: 28px; align-items: flex-start;  width: 60vw; grid-column: 1 / 2; padding: 0 80px 240dvh 120px !important;}
    .showroominfo_box > div.btn{flex-direction: column; align-items: center; width: 100%; gap: 12px;}
    .showroombooking_btn{width: 100%;}
    .showroominfo_box > div.info p{font-size: 1.6vw;}
    .section.cont.center .img_list_box{order: 3; grid-column: 2 / 3; grid-row: 1 / 3; height: 100dvh; width: 40vw;}
    .img_list_box ul{flex-direction: column; gap: 4px;}
    .img_list_box li{height: 33.3333%;}
    .img_list_box ul img{width: 100vw;}

    /* footer */
    footer{gap: 60px; padding: 60px;}
    .footerMenu{gap: 100px;}
    .footerBtm{flex-direction: column; gap: 20px;}
    .footerCopy{gap: 20px;}
    .footerCopy .logo img{height: 32px; margin-bottom: 4px;}
    .footerEtc{width: 100%; gap: 8px;}
}
@media all and (max-width: 840px){
    .layer{gap: 24%;}

    .section.cont .text_box{padding: 180px 100px 0 !important;}

    .section.cont.other .text_box{padding: 240px 60px 0 100px !important;}
    .card_box li img{height: 180px;}

    .section.cont.center .text_box{padding: 240px 60px 40px 100px !important;}
    .section.cont.center .showroominfo_box{padding: 0 60px 240px 100px !important; height: 60dvh;}

    footer{padding: 40px;}
    .footerCopy .logo img{height: 24px;}
}
@media all and (max-width: 768px){
    .section.cont.even .text_box{padding: 160px 100px 0 !important;}

    .section.cont.other .text_box{padding: 200px 60px 0 100px !important;}
    .card_box{padding: 200px 0 0;}
    .card_box ul{gap: 40px;}
    .card_box li{gap: 24px;}
    .section.active .card_box li img{height: 164px;}

    .section.cont.center .text_box{padding: 200px 60px 40px 100px !important;}
    .section.cont.center .showroominfo_box{padding: 0 60px 200px 100px !important;}

    footer{gap: 40px; padding: 32px 40px;}
    .footerMenu{gap: 80px;}
}
@media all and (max-width: 480px){}
@media all and (max-width: 360px){}